
.vote_Status{
    background-color: #9a02ac;
    padding: .5rem 1rem;
    font-size: 1.3rem; 
    color: #fff;
    font-weight: 700;
    border-radius: .2rem;
}

.voterImage {
    width: 100px; /* Set the width of the image */
    height: 100px; /* Set the height of the image */
    object-fit: cover; /* Ensures the image maintains aspect ratio and doesn't stretch */
    border-radius: 50%; /* Optional: Makes the image circular */
  }
  


